.questions {
  margin-top: 120px;

  .title {
    font-size: 30px;
    margin-left: 60px;
  }

  .contentWrapper {
    margin-top: 40px;

    .questionsWrapper {
      margin: 0 auto;
      /*max-width: 800px;*/
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}