.callback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
  margin-top: var(--section-offset);
  scroll-margin-top: var(--header-height-with-offset);

  .sectionTitleWrapper {
    h2 {
      text-align: left;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .contactsSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .callbackFormSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sendSuccess {
      text-align: center;
      font-weight: 500;
    }

    .sendFailed {
      text-align: center;
      font-weight: 500;
      color: #f66e64;
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 0;

    .sectionTitleWrapper {
      h2 {
        text-align: center;
      }

      .description {
        text-align: center;
      }
    }

    .contentWrapper {
      gap: 50px;
    }
  }
}