.workAreas {
  margin-top: calc(var(--section-offset) - var(--header-height-with-offset));
  scroll-margin-top: var(--header-height-with-offset);

  .workList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

    .workItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      svg {
        width: 200px;
        height: 200px;
        margin: -30px;
        color: #94580021;
      }

      .workItem_contentWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 15px;

        h3 {
          font-size: 26px;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
        }

        p {
          white-space: pre-line;
          opacity: 0.7;
        }
      }
    }

    .workItemImage {
      position: relative;

      img {
        position: absolute;
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
        border-radius: var(--border-radius-xl);
      }
    }
  }

  @media (max-width: 800px) {
    .workList {
      .workItem {
        gap: 30px;
      }

      .workItemImage {
        display: none;
      }
    }
  }
}