.about {
  overflow: hidden;
  margin-top: var(--section-offset);
  scroll-margin-top: var(--header-height-with-offset);

  .slider {
    margin-top: 40px;
    display: flex;
    transition: all 0.3s ease;

    .sliderItem {
      width: 100%;
      flex-shrink: 0;
    }
  }
}