.apps {
  margin-top: var(--section-offset);
  scroll-margin-top: var(--header-height-with-offset);

  .appsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--grid-gap);
    padding: 20px 0;

    .app {
      display: flex;
      padding: 15px;
      align-items: center;
      gap: 10px;

      .app_content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .app_title {
          font-weight: 500;
          font-size: 18px;
        }

        .app_description {
          font-size: 15px;
        }
      }

      .app_link {
        flex-shrink: 0;
        width: auto;
        padding: 10px;

        svg {
          transform: rotate(270deg);
        }
      }
    }
  }

  @media(max-width: 800px) {
    .appsList {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}