.details {
    ul {
        position: relative;
        padding-left: 20px;
        
        li {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 30px;
            font-weight: 600;
        }
    }

    ul:before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        width: 10px;
        background: #454646;
        left: 0;
        border-radius: 20px;
    }
}