.callbackForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &.loading {
    .inputWrapper, button {
      opacity: 0.3;
    }
  }

  .inputWrapper {
    background: #fff;

    input, textarea {
      padding: 20px;
      width: 100%;
    }

    textarea {
      resize: none;
      min-height: 150px;
    }
  }

  .checkboxWrapper {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    align-items: center;

    input {
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color-accent);
      background-color: #FFFFFF;
      cursor: pointer;
      padding: 0;
      accent-color: var(--color-accent);
      color: var(--color-text-accent-dark);
      flex-shrink: 0;

      &:checked {
        background-color: var(--color-accent);
        background-image: url('../../../../../../public/img/icons/check.svg');
      }
    }
  }
}