:root {
  --background: #edeae2;
  --color: #1b1818;
  --header-height: 70px;
  --page-height: calc(100vh - var(--header-height));
  --page-width: 1280px;
  --page-padding: 40px;

  @media(max-width: 1000px) {
    --page-padding: 20px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}

body {
  overflow-y: auto;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  background: var(--background);
  color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

button {
  font-family: var(--font-montserrat), sans-serif;
  padding: 14px 25px;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: 100ms linear all;
  box-shadow: 0 0 0 1px #c28c45 inset;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background: #c28c452e;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: auto;
}

ul {
  padding-left: 28px;
  /*list-style-type: none;*/
}

.underline {
  text-decoration: underline;
}

.underline-hover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.display-linebreak {
  white-space: pre-line;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--page-height);
  scroll-margin-top: var(--header-height);
}