@import "../styles/reset.css";
@import "../components/modal/modal.css";

:root {
  --color-background: #F4F2F0;
  --color-surface: #00000008;
  /*--color-accent: #f4c480;*/
  --color-accent: #FFD392;
  --color-accent-light: #FFEDD1;
  --color-accent-second: #214F36;
  --color-border: #CCCCCC;
  /*--color-accent-second: #22333B;*/

  --color-text: #222222;
  --color-text-accent-dark: #6E4A15;
  --color-text-accent: #915d0e;

  --header-height: 55px;
  --header-offset: 30px;
  --header-height-with-offset: calc(var(--header-height) + (var(--header-offset) * 2));

  --page-width: 1280px;
  --page-padding-horizontal: 40px;
  --grid-gap: 24px;

  --section-offset: 200px;
  --section-title-offset: 60px;

  --border-radius-xl: 100px;
  --border-radius-full: 9999px;
}

body {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-smooth: always;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: #0965ae;
  text-decoration: underline;

  &.undecorated {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

img, video {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.card {
  background: var(--color-surface);
  padding: 40px;
  border-radius: 10px;

  &.outline {
    background: transparent;
    border: 1px solid #b9ab9c;
  }
}

button, .button {
  background: var(--color-accent);
  color: var(--color-text-accent-dark);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-full);
  transition: 150ms ease;
  width: 100%;

  &a.button, &a.button span {
    text-decoration: none !important;
  }

  &:hover {
    background: #eabc7a;
  }
}

.sectionTitleWrapper {
  margin-bottom: var(--section-title-offset);

  .name {
    opacity: 0.7;
    text-align: center;
    margin-bottom: 15px;
  }

  .title {
    font-size: clamp(33px, 6vw, 42px);
    text-transform: uppercase;
    text-align: center;
  }

  .description {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  :root {
    --header-offset: 20px;
    --page-padding-horizontal: 20px;
    --section-offset: 120px;
    --section-title-offset: 40px;
    --border-radius-xl: 70px;
  }

  .card {
    padding: 30px 20px;
  }
}
