.footer {
  background: #2f2f2f;
  color: #fff;
  position: relative;

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--page-padding-horizontal);
    padding-bottom: 20px;
    max-width: var(--page-width);
    margin: auto;
    gap: 40px;

    .credentialsWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-shrink: 0;

      .contactsWrapper {
        svg {
          color: #e4e4e4;
        }
      }

      .credentialItem {
        .credentialItem_title {
          font-size: 14px;
          font-weight: 500;
          opacity: 0.7;
        }

        .credentialItem_value {
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          margin-top: 5px;
        }
      }
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 40px;

      .buttonUp {
        height: 70px;
        width: 70px;

        svg {
          transform: rotate(-90deg);
        }
      }

      .dataProcessingWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  @media(max-width: 800px) {
    .contentWrapper {
      flex-direction: column;

      .rightWrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }
}