.advantages {
  margin-top: var(--section-offset);

  .advantagesItems {
    margin-top: var(--section-title-offset);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--grid-gap);

    .advantageItem {
      display: flex;
      gap: 40px;

      .advantageItem_counter {
        color: var(--color-text-accent);
        font-weight: 500;
      }

      .advantageItem_contentWrapper {
        margin-top: -7px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;

        .advantageItem_title {
          font-size: 26px;
        }

        .advantageItem_description > span {
          white-space: pre-line;
          opacity: 0.7;
        }
      }
    }
  }

  @media(max-width: 800px) {
    .advantagesItems {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      .advantageItem {
        flex-direction: column;
      }
    }
  }
}