.main {
    scroll-margin-top: var(--header-height-with-offset);

    .widthWrapper {
        display: flex;
        height: calc(100vh - var(--header-height-with-offset));
        padding: var(--page-padding-vertcal) var(--page-padding-horizontal);
        max-width: var(--page-width);
        margin: auto;
        gap: 30px;

        .imageWrapper {
            width: 50%;

            img {
                object-fit: cover;
                border-radius: 100px;
                width: 100%;
                height: 100%;
            }
        }

        .contentWrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            .titleWrapper {
                h1 {
                    color: var(--title-color);
                    font-size: clamp(45px, 6.1vw, 78px);
                    font-weight: 600;
                    line-height: 1;
                }

                .titleWrapper_name {
                    margin-top: 20px;
                    color: var(--accent-color);
                    font-size: clamp(20px, 3vw, 30px);
                    font-weight: 500;
                    line-height: 1;
                }
            }

            .description {
                font-weight: 500;
                margin-top: 40px;
                font-size: 16px;
                opacity: 0.5;
            }

            .connectionsWrapper {
                width: 330px;
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                button {
                    width: 100%;
                }
            }
        }

        @media(max-width: 800px) {
            flex-direction: column;
            height: auto;
            padding-top: 40px;

            .imageWrapper {
                width: 100%;

                img {
                    max-width: 400px;
                    max-height: 300px;
                    margin: auto;
                }
            }

            .contentWrapper {
                width: 100%;
                align-items: center;

                .titleWrapper {
                    h1 {
                        text-align: center;
                    }

                    .titleWrapper_name {
                        text-align: center;
                        margin-top: 15px;
                    }
                }

                .description {
                    text-align: center;
                }
            }
        }
    }
}